*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.border {
    border: 1px solid rgb(0, 0, 0);
}

/* Colores y alturas */
.header {
    background: #463B8C;
    height: 6vh;
}

.sidebar {
    background: #D99AC8;
}

.perfil {
    background: #837bb8;
    height: 10vh;
}

.seccion {
    background: #F25050;
    height: 6vh;
}

.item {
    background: #F27D52;
    height: 5vh;
}

.contenido {
    background: #D99AC8;
}

.titulo {
    background: #837bb8;
    height: 8vh;
}

.principal {
    background: #837bb8;
    margin: 20px;
    height: 40vh;
}

.footer {
    background: #463B8C;
    height: 6vh;
}
