*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.borde{
    border: 1px solid gray;
}

.contenedor{
    width: 95%;
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

/* NAV */
nav{
    display: flex;
    flex: 0 0 80px; /* alto igual al modelo box */
}
.logo{
    flex: 0 0 20%;
    background: #463B8C;
}
.menu{
    flex: 0 0 60%;
    background: #B784D9;
}
.ingreso{
    flex: 0 0 20%;
    background: #D99AC8;
}

/* ENCABEZADO */
header{
    flex: 0 0 400px;
    background: #E794D1;
}

/* TITULO PORTAFOLIO */
.titulo-portafolio{
    flex: 0 0 40px;
    background: #693C5D;
}

/* FILA DE 3 COLUMNAS */
.portafolio{
    display: flex;
    flex: 0 0 300px;
    background: #BD92B2;
}
.port-izq, .port-cnt, .por-der{
    flex: 1;
}

/* SOBRE NOSOTROS */
.sobre-nosotros{
    flex: 0 0 60px;
    background: #693C5D;
}

/* GRID 3x3 */
.grid{
    display: flex;
    flex-direction: column;
}
.fila-grid{
    display: flex;
    flex: 0 0 200px;
}
.left{
    flex: 0 0 40%;
    background: #F27D52;
}
.center{
    flex: 0 0 20%;
    background: #F25050;
}
.right{
    flex: 0 0 40%;
    background: #F27D52;
}
