* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Clase general para poner bordes a todo */
.borde {
    border: 1px solid rgb(0, 0, 0);
}

/* Contenedor */
.contenedor {
    width: 100%;
    background: white;
}

/* FILA SUPERIOR */
.fila-superior {
    width: 100%;
    height: 80px;
}
.logo, .menu, .ingreso {
    float: left;
    height: 100%;
}
.logo { 
    width: 20%;
    background: #463B8C; 
}
.menu { 
    width: 60%; 
    background: #B784D9;
}
.ingreso { 
    width: 20%;
    background: #D99AC8;
 }

/* ENCABEZADO */
.encabezado {
    width: 100%;
    height: 400px;
    background: #e794d1;
}

/* PORTAFOLIO */
.titulo-portafolio {
    width: 100%;
    height: 40px;
    background: #693c5d;
}

/* FILA DE TRES COLUMNAS */
.fila-tres {
    width: 100%;
    height: 300px;
    background: #bd92b2;
}
.col {
    float: left;
    width: 33.33%;
    height: 100%;
}

/* SOBRE NOSOTROS */
.sobre-nosotros {
    width: 100%;
    height: 60px;
    background: #693c5d;
}

/* GRID 3x3 */
.grid {
    width: 100%;
}
.fila-grid {
    width: 100%;
    height: 200px;
}
.cel {
    float: left;
    height: 100%;
}
.left { 
    width: 40%; 
    background:#F27D52;
}
.center { 
    width: 20%;
    background:#F25050;
 }
.right { 
    width: 40%;
    background:#F27D52;
 }
