*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.borde{
    border: 2px solid brown;
}
.titulo{
    height: 70px;
}
.contenedor{
    width: 100%;
    max-width: 1280px;
    margin: auto;
}
nav{
    height: 70px;
}
.logo{
    width: 15%;
    height: 100%;
    float: left;
}
.menu{
    width: 65%;
    height: 100%;
    float: left;
}
.ingreso{
    width: 20%;
    height: 100%;
    float: left;
}
header, section{
    height: 500px;
}
.portafolio{
    width: 100%;
}
.port-izq,
.port-cnt,
.port-der{
    width: 33.33%;
    height: 100%;
    float: left;
}
.nosotros{
    height: 600px;
    width: 100%;
}

.subt, .vac1, .vac2, .sub2, .subt3, .vac3{
    width: 40%;
    height: 33.33%;
    float: left;
}

.img, .img2, .img3{
    width: 20%;
    height: 33.33%;
    float: left;
}
footer{
    height: 70px;
}
