*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.borde{
    border: 1px solid gray;
}

.contenedor{
    width: 95%;
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

/* NAV */
nav{
    height: 70px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
}
.logo{
    width: 20%;
    background: #463B8C;
}
.menu{
    width: 65%;
    background: #B784D9;
}
.ingreso{
    width: 15%;
    background: #D99AC8;
}

/* HEADER y SECTION */
header{
    height: 500px;
    background: #E794D1;
}
section{
    height: 500px;
    background: #693C5D;
}

/* PORTAFOLIO */
.portafolio{
    display: flex;
    flex-flow: row nowrap;
    background: #BD92B2;
}
.port-izq{
    flex: 1;
    background: #CFA5C1;
}
.port-cnt{
    flex: 1;
    background: #E5BED9;
}
.por-der{
    flex: 1;
    background: #CFA5C1;
}

/* NOSOTROS fila 1 */
.nosotros{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    height: 200px;
    background: #F7D1E0;
}
.subt{
    flex: 2;
    background: #F27D52;
}
.img{
    flex: 1;
    background: #F25050;
}
.vac1{
    flex: 2;
    background: #F27D52;
}

/* NOSOTROS fila 2 */
.nosotros1{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: 200px;
    background: #F7D1E0;
}
.vac2{
    flex: 2;
    background: #F27D52;
}
.img2{
    flex: 1;
    background: #F25050;
}
.sub2{
    flex: 2;
    background: #F27D52;
}

/* NOSOTROS fila 3 */
.nosotros2{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    height: 200px;
    background: #F7D1E0;
}
.subt3{
    flex: 2;
    background: #F27D52;
}
.img3{
    flex: 1;
    background: #F25050;
}
.vac3{
    flex: 2;
    background: #F27D52;
}
