* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.izq, .cnt, .der{
    height: 300px;
    background: #ea47c1;
}

.titulo{
    height: 40px;
}
.Logo{
    background: rgb(79, 39, 69);
    color: aliceblue;
    height: 50px;
}
.menu{
    height: 50px;
    background: rgb(255, 115, 115);
    
}
.ingreso{
    height: 50px;
    background: rgb(255, 115, 115);
}
header{
    height: 400px;
    background: rgb(171, 136, 136);
}

.port-izq, .port-cnt, .port-der {
    height: 400px;
    background: rgb(255, 115, 115);
}
.titulo{
    background: rgb(79, 39, 69);
    color: aliceblue;
}
.grid, .izqu, .dere {
    background-color: #ff7373; /* color para columnas grandes */
}

.grid .cntr {
    background-color: #945a85; /* color para columna central */
}

.fila-grid {
    height: 150px;
}
